h1,
h2 {
  font-family: 'Spectral', serif;
  font-style: italic;
  font-weight: 300;
}

.xl {
  font-size: 100px;
}

.lg {
  font-size: 70px;
}

.md {
  font-size: 61px;
}

.sm {
  font-size: 57px;
}

.xl,
.lg,
.md,
.sm,
.img-sm {
  margin-top: 85px;
}

.img-xl {
  margin-top: 70px;
}

.img-md {
  margin-top: 55px;
}

.p_about {
  margin: 40px 0 50px 0;
  font-size: 20px;
}

hr {
  margin-right: 150px;
}

#contact {
  margin-top: 2.5rem;
}

.react-icons,
.professiona_skills {
  font-size: 50px;
}

.pageNot {
  font-size: 150px;
}

.icon_footer:hover {
  color: white !important;
}

.img_projects {
  border-radius: 50% 50% 0% 0% / 50% 50% 0% 0%;
  object-fit: cover;
  object-position: left;
}

.hoveproject {
  filter: grayscale(100%);
}

.hoveproject:hover {
  filter: grayscale(0%);
}
